<div class="leftSide wow slideInLeft">
  <p id="leftText">We <br> got <br> the <br> stuff <br> here</p>
</div>

<div class="rightSide wow slideInRight" data-wow-delay="2s">
  <p id="rightText">Established <br> the <br> stuff <br> in <br> some <br> year</p>
</div>

<div class="centerBox">
</div>

<div class="boxStuffBox">
  <div class="boxStuff">
    test
  </div>
  <div class="boxStuff">
  </div>
  <div class="boxStuff">
  </div>
  <div class="boxStuff">
  </div>
</div>

<div class="wordStuffBox">
  <div id="wordStuff">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Adipiscing at in tellus integer feugiat scelerisque. Eget gravida cum sociis natoque. Eget duis at tellus at urna condimentum mattis. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. Nisi est sit amet facilisis magna etiam. Eu nisl nunc mi ipsum faucibus vitae. Tristique    senectus et netus et malesuada fames ac. Volutpat sed cras ornare arcu. Nunc sed blandit libero volutpat sed cras ornare arcu.<br>

    Iaculis at erat pellentesque adipiscing commodo elit at imperdiet dui. Interdum varius sit amet mattis vulputate enim nulla aliquet porttitor. Etiam sit amet nisl purus in. Lorem mollis aliquam ut porttitor. Vitae auctor eu augue ut lectus arcu bibendum at varius. Et netus et malesuada fames ac turpis egestas. Neque laoreet suspendisse interdum consectetur libero. Egestas erat imperdiet sed euismod nisi porta lorem. Libero nunc consequat interdum varius sit amet. Quis enim lobortis scelerisque fermentum dui faucibus in. Sit amet consectetur adipiscing elit pellentesque. Lacus vel facilisis volutpat est velit egestas dui id ornare. Quis risus sed vulputate odio ut enim. Vel fringilla est ullamcorper eget. Massa ultricies mi quis hendrerit. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Dictum sit amet justo donec enim diam vulputate ut pharetra.<br>
  </p>
  </div>
</div>

<div class="centerBox2">
  <div id="centerBox2stuff">
  </div>
</div>
