<div class="leftSide wow slideInLeft">
  <p id="leftText">We <br> got <br> the <br> stuff <br> here</p>
</div>

<div class="rightSide wow slideInRight" data-wow-delay="2s">
  <p id="rightText">Established <br> the <br> stuff <br> in <br> some <br> year</p>
</div>

<div class="centerBox">
</div>

<div class="centerBox2">
  <div class="boxInBox">
    <div class="boxInBox2">
      <p class="boxText">We display stuff in here</p>
    </div>
  </div>
  <div class="boxInBox">
    <div class="boxInBox2">
      <p class="boxText">or here</p>
    </div>
  </div>
  <div class="boxInBox">
    <div class="boxInBox2">
      <p class="boxText">or here</p>
    </div>
  </div>
  <div class="boxInBox">
    <div class="boxInBox2">
      <p class="boxText">or here</p>
    </div>
  </div>
  <div class="boxInBox">
    <div class="boxInBox2">
      <p class="boxText">or here</p>
    </div>
  </div>
  <div class="boxInBox">
    <div class="boxInBox2">
      <p class="boxText">or here</p>
    </div>
  </div>
  <div class="boxInBox">
    <div class="boxInBox2">
      <p class="boxText">or here</p>
    </div>
  </div>
  <div class="boxInBox">
    <div class="boxInBox2">
      <p class="boxText">or sometimes even here!</p>
    </div>
  </div>
</div>
